.main-label {
    -fx-font-size: 24px;
    -fx-text-alignment: justify;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-text-fill: #023047;
}
.form-label {
    -fx-font-size: 16px;
    -fx-text-fill: #023047;
    -fx-font-weight: bold;
}
.empty-pane {
    -fx-min-width: 30px;
    -fx-max-width: 30px;
}

.yellow-button{
    -fx-background-color: #ffb703;
    -fx-text-fill: #023047;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.light-blue-background{
    -fx-background-color: #8ecae6;
}

.text-area .content {
    -fx-background-color: #8ecae6 ;
}